@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: 'Climate Crisis', cursive;
}
.navbar img{
    border: 5px solid peru;
    border-radius: 50%;
}
.navbar-brand{
    text-transform: uppercase;
    font-size:1.3rem;
    color: forestgreen;
    font-family: 'Climate Crisis', cursive;
}
.navbar-brand:hover{
    color: coral;
}
.nav-item a{
    font-weight:800;
    font-size: 1.2rem;
}
.nav-item a:hover{
    color: rgb(238, 95, 51);
    text-decoration:underline;
}
